:root 
{
    --color-background-and-order-button: rgba(255,255,255,1);
    --color-text-in-web-and-button: rgba(77,90,229,1);
    --color-text-in-menu-adress-h3: rgba(46,47,66,1);
    --color-in-text-in-p: rgba(67,68,85,1);
    --color-actv-button-and-hover: rgba(64,75,191,1);
    --border-button-and-text: rgba(244,244,253,1);
    --background--button: rgba(231, 233, 252, 1);
    --drop-shadow: rgba(0,0,0,0.12);

}
.fillter-button
{
    font-family: "Roboto";
    border-radius: 4px;
    border: 1px solid;
    color: var(--color-text-in-web-and-button);
    background: var(--background--button);
    letter-spacing: 0.64px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.fillter-button:focus,
.fillter-button:hover,
.fillter-button:active 
{
    color: var(--color-background-and-order-button);
    background: var(--color-actv-button-and-hover);
    box-shadow: var(--drop-shadow);
}

.fillter-order-button
{
    font-family: "Roboto";
    color: var(--color-background-and-order-button);
    background: var(--color-text-in-web-and-button);
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    
}

.fillter-order-button:active,
.fillter-prder-button:hover,
.fillter-order-button:focus
{
    background-color: var(--color-actv-button-and-hover);
}

.fillter-link 
{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-in-menu-adress-h3);

}
.fillter-link:active,
.fillter-link:focus,
.fillter-link:hover
{
    color: var(--color-actv-button-and-hover);
    text-decoration: none;
    list-style: none;

     
}

.body
{
    font-family: "Roboto", sans-serif;
    color: var(--color-in-text-in-p);
    background-color: var(--color-background-and-order-button);
}

.fillter-order-service
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07143;
    text-align: center;
    letter-spacing: 1.12px;
    color: var(--color-background-and-order-button);
    background-color: var(--color-text-in-menu-adress-h3);
}

.fillter-list
{
    color: var(--color-text-in-menu-adress-h3);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.fillter-text
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.fillter-footer
{
    background-color: var(--color-text-in-menu-adress-h3);
}

.p-in-footer
{
    font-family: "Roboto";
    color: var(--border-button-and-text);
    font-size: 20;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.fillter-WEB
{
    color: var(--color-text-in-web-and-button);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.fillter-STUDIO-header
{
    color: var(--color-text-in-menu-adress-h3);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.fillter-STUDIO
{
    color: var(--border-button-and-text);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.header
{
    font-size: 36px;
    font-weight: 700;
    line-height:1.11111;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-text-in-menu-adress-h3);
}

.contacts-list
{
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-in-text-in-p);
    text-decoration: none;
}

.contacts-list:active,
.contacts-list:hover,
.contacts-list:focus
{
    color: var(--color-actv-button-and-hover);
    text-decoration: none;
    list-style: none;
}

.section-one
{
    background-color: var(--color-text-in-menu-adress-h3);
}

.section-two
{
    background-color: var(--border-button-and-text);
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-in-text-in-p);

}

.section-two-li-bckgrd
{
    background-color: var(--color-background-and-order-button);
}

.logo-without-decoration
{
    text-decoration: none;
}

.ul 
{
    list-style-type: none;
}