:root 
{
    --color-background: #FFFFFF;
    --color-text-in-web-and-button: #4d5ae5;
    --color-text-in-menu-adress-h3: #2E2F42;
    --color-in-text-in-p: #434455;
    --color-actv-button-and-hover: rgba(64,75,191,1);
    --border-button: rgba(244,244,253,1);
    --background--button: rgba(231, 233, 252, 1);
    --drop-shadow: rgba(0,0,0,0.12);

}
.fillter-button
{
    border-radius: 4px;
    border: 1px solid;
    color: var(--color-text-in-web-and-button);
    background: var(--background--button);
    letter-spacing: 0.64px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.fillter-button:focus,
.fillter-button:hover,
.fillter-button:active 
{
    color: rgba(255,255,255,1);
    background: var(--color-actv-button-and-hover);
    border-radius: 4px;
    letter-spacing: 0.64px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: var(--drop-shadow);
}

.fillter-order-button
{
    color:#FFFFFF;
    background:#4d5ae5;
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    
}

.fillter-order-button-active,
.fillter-prder-button-hover,
.fillter-order-button:focus
{
    background-color: #404bbf;
}

.fillter-link 
{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-in-menu-adress-h3);

}
.fillter-link:active
.fillter-link:focus,
.fillter-link:hover,
.fillter-link:active
{
    color: #404bbf;
    text-decoration: none;
    list-style: none;

     
}

.body
{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--color-background);
}

.fillter-order-service
{
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%;
    text-align: center;
    letter-spacing: 1.12px;
    color: rgba(255,255,255,1);
    background-color: #2E2F42;

}

.fillter-list
{
    color: var(--color-text-in-menu-adress-h3);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0,4px;
}

.fillter-text
{
    color: var(--color-in-text-in-p);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.fillter-footer
{
    font-family: "Raleway", sans-serif;
    color: rgba(244, 244, 253, 1);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    background-color: #2E2F42;
}

.fillter-WEB
{
    color: var(--color-text-in-web-and-button);
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.fillter-STUDIO-header
{
    color: #2E2F42;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.fillter-STUDIO
{
    color: #f4f4fd;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.header
{
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height:111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color:#2E2F42;
}

.contacts-and-list
{
    font-style: normal;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-in-text-in-p);
}

.section-one
{
    background-color: #2E2F42;
}

.section-two
{
    background-color: #f4f4fd;
    font-style: normal;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-in-text-in-p);

}

.section-two-li-bckgrd
{
    background-color: #FFFFFF;
}

.logo-without-decoration
{
    text-decoration: none;
}

.ul 
{
    list-style: none;
}